body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /*height of the entire viewport*/
    padding: 0px; /*removes page borders*/
    margin: 0px; /*removes page borders*/
}

p {
    font-size: 40px;
    text-align: center;
    width: 550px;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
}



.logo{
    display: flex;
    justify-content: center;
}

.links{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AboutUs{ /*button*/
    border: none;
    border-radius: 10px;
    background-color: #c6c5c5;
    width: 180px;
    height: 40px;
    font-size: 20px;
}

.Contact{ /*button*/
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #000000;
    width: 180px;
    height: 40px;
    font-size: 20px;
}

.about-us .contact{ /*dividers*/
    display: flex;
    align-items: center;
}

.websiteBanner {
    display: flex;
    justify-content: center;
}

.biography{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.footer {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: linear-gradient(to bottom, #1F4024, #07210D);
}

.group-link {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 45px;
    background: linear-gradient(to bottom, #1575A5, #0C504B);
    color: white;
}

